<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../shared/_header %>
</head>

<body class="container-fluid">

    <% include ../shared/_layout %>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <%=locals.title%>
                </li>
            </ol>
        </nav>

        <main>
            <div class="jumbotron">
                <div class="card text-center">
                    <div class="card-header">
                        <%=locals.message%>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <% include ../shared/_footer %>
        </footer>

</body>

</html>