<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../shared/_header %>
</head>

<body class="container-fluid">

    <% include ../shared/_layout %>

        <main>
            <div class="jumbotron">
                <%= local.message%/>
                <a href="home/" class="btn btn-primary">Back To Home</a>
            </div>
        </main>

        <footer>
            <% include ../shared/_footer %>
                    </footer>

</body>

</html>